
/* desktop device css start here  */

.all-product__inner {
    margin-top: 71px;
    margin-bottom: 193px;
}

.all-product__content h3 {
    font-weight: 700;
    font-size: 55px;
    line-height: 100%;
    text-align: center;
    color: #DC4B33;
    margin-bottom: 82px;

}


/* desktop device css end here  */