body {
    font-family: "Montserrat", sans-serif;
}

/* desktop device css start here  */



/* common css start here  */

.common-wrap {
    max-width: 1728px;
    padding: 0 40px;
    margin: 0 auto;
}

.ptoduct-card__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 132px;
    flex-wrap: wrap;
}

.ptoduct-card__item {
    flex: 1 0 26%;

}

.ptoduct-card__item-img {
    padding: 35px 32px;
    box-shadow: 0px 7px 30px 0px #0000001A;
    background: #F5F5F5;
    margin-bottom: 26px;
    position: relative;
    border-radius: 15px;

}

.product-card__badge {
    position: absolute;
    top: 13px;
    left: 13px;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    background: #DC4B33;
    color: #F0F0F0;
    padding: 11px 31px;
    text-transform: uppercase;
    border-radius: 10px;
}


.ptoduct-card__item h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    max-width: 340px;
    margin: 0 auto 14px auto;
    color: #3F3F3F;


}

.ptoduct-card__price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 26px;
}

.ptoduct-card__price p,
.ptoduct-card__price del {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #3F3F3F;

}

.ptoduct-card__price del {
    font-weight: 400;
}

.product-card__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    margin-bottom: 14px;
}

.product-card__btn a {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    background: #DC4B33;
    color: #F0F0F0;
    border-radius: 10px;
}

.product-card__btn a:first-child {
    padding: 20px 62px;
}

.product-card__btn a:last-child {
    padding: 12.5px 46px;
}


.product-card__primary-btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #F0F0F0;
    padding: 20px;
    background: #5A31F5;
    border-radius: 10px;
    width: 100%;

}

/* common css end here  */





/* announcement bar css start here  */

.announcement-bar__inner {
    background-color: #DC4B33;
    padding: 22px 6px;
}

.announcement-bar__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.announcement-bar__left p {
    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
    line-height: 100%;
    color: #F0F0F0;

}

.announcement-bar__left em {
    font-style: normal;
    text-transform: uppercase;

}

select.announcement-bar__select {}

.announcement-bar__right select {

    text-transform: uppercase;
    border: none;
    background-image: url(../images/white-down-arrow.svg);
    cursor: pointer;
    background-position: center right 0;
    background-repeat: no-repeat;
    background-size: 40px;
    width: 100%;
    padding: 0;
    min-height: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    color: #F0F0F0;
    background-color: rgb(220, 75, 51);
    padding: 5px 40px 5px 10px;
    border-radius: 5px;
    border: none;



}

/* announcement bar css end here  */



/*header section start here*/

.header {
    background-color: #222222;
}

.header__items {
    display: flex;
    gap: 46px;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0;
}

.header__left {
    max-width: 239px;
    width: 100%;
}

.header__left img {
    object-fit: cover;
    width: 100%;
}

.header__center {
    width: calc(100% - 421px);
}

.header__center ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header__center ul li a {
    color: #F0F0F0;
    font-size: 21px;
    font-weight: 600;
    line-height: 100%;
    font-family: "Montserrat", sans-serif;


}

.header__right {
    display: flex;
    gap: 25px;


}

.header__cart {
    position: relative;
}

.header__cart span {
    position: absolute;
    top: -6px;
    right: -10px;
    background-color: #DC4B33;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: #F0F0F0;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__cart img {
    height: 35px;
    width: 35px;
}

.header__account img {

    height: 35px;
    width: 35px;
}

.header__mobi-menu {
    display: none;
}

/*header section end here*/





/*banner section start here*/
.banner__inner {
    background: linear-gradient(to bottom, #222222, #3B3B3B);
    margin-bottom: 70px;
}


.banner__items {
    display: flex;
    gap: 90px;
    align-items: center;
    padding: 0 78px;

}

.banner__left {
    width: calc(100% - 674px);
}

.banner__content h2 {
    font-size: 55px;
    line-height: 110%;
    font-weight: 700;
    color: #F0F0F0;
    padding-bottom: 36px;
}

.banner__content p {
    font-size: 24px;
    font-weight: 400;
    line-height: 170%;
    color: #F0F0F0;
    padding-bottom: 36px;
    font-family: "Montserrat", sans-serif;
}

.banner__right {
    max-width: 584px;
    padding: 121px 0 86px 0;

}

.banner__right img {
    width: 100%;
}

.banner__button-wrap {
    display: flex;
    gap: 15px;
}

.banner__btn {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    color: #F0F0F0;
    border-radius: 10px;
    padding: 18px 43px;
}

.banner__button-left {
    background-color: #5A31F5;
}


.banner__button-right {
    background-color: #DC4B33;
}





/*banner section end here*/


/* featured collection start here  */



.featured-collection__inner {
    padding: 0 76px;
    margin-bottom: 90px;
}



.featured-collection__items {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: space-between;
}

.featured-collection__item-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding: 32px;
    flex: 1 0 45%;
    border-radius: 20px;
}

.featured-collection__item-card:first-child {
    background: linear-gradient(90deg, #222222 0%, #3B3B3B 100%);

}

.featured-collection__item-card:last-child {
    background: linear-gradient(180deg, #DC4B33 0%, #A81800 100%);


}

.featured-collection__item-card-left {
    width: calc(100% - 237px);
}

.featured-collection__item-card-right {
    max-width: 207px;
    width: 100%;
}

.featured-collection__item-card h3 {
    font-weight: 700;
    font-size: 27px;
    line-height: 100%;
    color: #F0F0F0;
    margin-bottom: 25px;
}

.featured-collection__item-card p {
    font-weight: 600;
    font-size: 20px;
    line-height: 170%;
    color: #F0F0F0;
    margin-bottom: 24px;

}

.featured-collection__item-card a {
    display: inline-block;
    padding: 20px 54px;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #F0F0F0;
    border-radius: 10px;

}

.featured-collection__item-card:first-child a {
    background: #DC4B33;


}

.featured-collection__item-card:last-child a {
    background: linear-gradient(90deg, #222222 0%, #3B3B3B 100%);

}











/* featured collection end here  */


/* full width text css start here  */

.full-width-text__inner {
    background: linear-gradient(180deg, #DC4B33 0%, #A81800 100%);
    padding: 55px 72px;

}

.full-width-text__wrapper p {
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 170%;
    text-align: center;
    color: #F0F0F0;
}

.full-width-text__btn-wrap {
    text-align: center;
    margin-top: 30px;
}


.full-width-text__btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    padding: 18px 96px;
    background: linear-gradient(90deg, #222222 0%, #3B3B3B 100%);
    border-radius: 10px;
    color: #F0F0F0;


}

/* full width text css end here  */


/* trending product css start here  */


.trending-product__inner {
    padding: 69px 20px 164px 20px;
}

.trending-product__wrap h3 {
    color: #DC4B33;
    font-weight: 700;
    font-size: 55px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 69px;

}

/* trending product css end here  */

/* google review section css start here   */
.google-review__inner {
    margin-bottom: 196px;
}

.google-review__top {
    margin-bottom: 78px;
}

.google-review__top h3 {
    font-weight: 700;
    font-size: 55px;
    line-height: 100%;
    text-align: center;
    color: #DC4B33;
    margin-bottom: 16px;


}

.google-review__top p {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    color: #8F8F8F;

}

.google-review__content {
    max-width: 1125px;
    margin: 0 auto;
    box-shadow: 0px 0px 50px 0px #00000040;
    border-radius: 15px;
    padding: 36px 120px 42px 120px;
    text-align: center;
}

.google-review__star {
    margin-bottom: 27px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.google-review__item p {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #5C5C5D;
    margin-bottom: 18px;

}

.google-review__item h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #5C5C5D;
    margin-bottom: 27px;
}

.google-review__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 27px;
}

.google-review__arrow-right,
.google-review__arrow-left {
    cursor: pointer;
}

.google-review__btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #F0F0F0;
    background: #DC4B33;
    border-radius: 10px;
    padding: 20px 63px;


}

/* google review section css end here   */

/* ingredients section css start here  */
.ingredients__inner {
    padding: 0 22px;
    margin-bottom: 165px;
}

.ingredients__top {
    max-width: 1273px;
    margin: 0 auto;
    margin-bottom: 68px;
}

.ingredients__top h3 {
    font-weight: 700;
    font-size: 55px;
    line-height: 100%;
    text-align: center;
    color: #DC4B33;
    margin-bottom: 37px;
}

.ingredients__top p {
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
    color: #8F8F8F;
}

.ingredients__top em {
    font-weight: 700;
    font-style: normal;
    color: #DC4B33;
}

.ingredients__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 98px;
    flex-wrap: wrap;
}

.ingredients__item {
    flex: 1 0 45%;
    box-shadow: 0px 0px 30px 0px #0000001A;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 41px;

}

.ingredients__item p {
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    color: #5C5C5D;
}

.ingredients__item p em {
    font-weight: 700;
    font-style: normal;
}

.ingredients__item-img {
    max-width: 200px;
    width: 100%;
}

.ingredients__item-content {
    width: calc(100% - 241px);
}

.ingredients__item-img img {
    width: 100%;
}

/* ingredients section css end here  */


/* package section css start here  */

.package__top {
    margin-bottom: 20px;
}

.package__top h3 {
    font-weight: 700;
    font-size: 55px;
    line-height: 100%;
    text-align: center;
    color: #DC4B33;
}


/* package section css end here  */




/* benefits section css start here  */


.benefits__inner {
    max-width: 1217px;
    margin: 0 auto;
    margin-top: 126px;
    margin-bottom: 109px;
}

.benefits__top {
    max-width: 1290px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.benefits__top h3 {
    font-weight: 600;
    font-size: 55px;
    line-height: 150%;
    text-align: center;
    color: #DC4B33;

}

.benefits__top p {
    font-weight: 400;
    font-size: 24px;
    line-height: 199%;
    text-align: center;
    color: #3F3F3F;
}

.benefits__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 149px;
}

.benefits__item-img-wrap {
    text-align: center;
    max-width: 210px;
    position: absolute;
    top: 34px;
    left: 50%;
    max-height: 175px;
    transform: translate(-50%);
    height: 100%;
}

.benefits__item-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.benefits__item {
    padding: 141px 32px 38px 32px;
    background: #F5F5F5;
    box-shadow: 0px 4px 50px 0px #0000001A;
    position: relative;
}

.benefits__inner-item ul {
    background-color: #3F3F3F;
    padding: 91px 32px 60px 45px;
    border-radius: 10px;
}

.benefits__inner-item ul li {
    font-weight: 500;
    font-size: 20px;
    line-height: 156%;
    color: #F0F0F0;
    margin-bottom: 10px;
    list-style: disc;
    /* padding: 0 32px; */
}

.benefits__inner-item ul li:last-child {
    margin-bottom: 0;
}

/* benefits section css end here  */

/* health section css start here  */
.health__inner {
    margin-bottom: 164px;
}

.health__top {
    max-width: 848px;
    margin: 0 auto 106px auto;
}

.health__top h3 {
    font-weight: 600;
    font-size: 55px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #DC4B33;
}

.health__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 59px;
}

.health__right {
    max-width: 694px;
    width: 100%;
}

.health__right img {
    width: 100%;
    object-fit: cover;

}

.health__left h4 {
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    text-transform: uppercase;
    color: #5C5C5D;
}

.health__left p {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: #5C5C5D;
    margin-bottom: 40px;
}

.health__left p:last-child {
    margin-bottom: 0px;
}

.health__left-btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #F0F0F0;
    padding: 20px 72px;
    border-radius: 10px;
    background-color: #DC4B33;

}

/* health section css end here  */

/* popular package section css start here  */
.package__inner {
    margin-bottom: 165px;
}

.package__content {
    display: flex;
    align-items: center;
    gap: 226px;
    justify-content: space-between;
}

.package__left {
    width: calc(100% - 726px);
}

.package__left-btn-wrap {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 46px;
}

.package__left-btn-wrap a {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    padding: 20px 60px;
    color: #F0F0F0;
    background: #DC4B33;
    border-radius: 10px;
}

.package__right {
    max-width: 500px;
    width: 100%;
}

.package__left h4 {
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #DC4B33;
    margin-bottom: 46px;
}

.package__left h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    color: #8F8F8F;
    margin-bottom: 10px;

}

.package__left p {
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    color: #8F8F8F;

}

/* popular package section css end here  */

/* faq section css start here  */

.faq__inner {
    margin-bottom: 385px;
}


.faq__top {
    margin-bottom: 67px;
}

.faq__top h3 {
    font-weight: 600;
    font-size: 55px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #DC4B33;
}

.faq__top p {
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #5C5C5D;
}

.faq__content {
    max-width: 1342px;
    margin: 0 auto;
}

.faq__item {
    margin-bottom: 42px;
}

.faq__item:last-child {
    margin-bottom: 0;
}

.faq__title {
    background: #FFFAE7;
    box-shadow: 0px 6px 30px 0px #0000001A;
    padding: 38px 51px;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #8F8F8F;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq__title::after {
    content: url(../images/faq-arrow.svg);
    line-height: 0;
    transition: .4s;

}

.faq__title.active::after {
    transform: rotate(180deg);
}

.faq__item-content {
    background-color: #fff;
    box-shadow: 0px 6px 30px 0px #0000001A;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #8F8F8F;
    padding: 56px 51px 40px 51px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-top: -15px;
    z-index: -1;
    position: relative;
}

.faq__item-content {
    display: none;
}

.faq__item-content:first-of-type {
    display: block;
}

/* faq section css end here  */

/* footer section css start here  */
.footer__inner {
    padding: 221px 0;
    background: #222222;
    position: relative;

}

.footer_subscription {
    max-width: 1323px;
    margin: 0 auto;
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 50px 153px;
    position: absolute;
    top: -160px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.footer_subscription h3 {
    font-weight: 500;
    font-size: 55px;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
    color: #DC4B33;
}

.footer_subscription p {
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    color: #8F8F8F;
    text-align: center;
    margin-bottom: 36px;

}

.footer__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 37px;
}

.footer__input input {
    max-width: 750px;
    margin: 0 auto;
    width: 100%;
    border: 2px solid #BFBFBF;
    background-color: transparent;
    padding: 20px 34px;
    border-radius: 10px;
}

.footer__input button {
    width: calc(100% - 787px);
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #F0F0F0;
    background-color: #DC4B33;
    border-radius: 10px;
    padding: 20px 55px;
    border: none;

}

.footer__items {
    display: flex;
    justify-content: space-between;
    gap: 65px;
}

.footer__item {
    flex: 1 0 20%;
}

.footer__item h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 140%;
    color: #DC4B33;
    margin-bottom: 27px;
    text-transform: uppercase;
}

.footer__item p,
.footer__item li a {
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #BFBFBF;
    text-align: justify;

}

.footer__item li {
    margin-bottom: 11px;

}

.footer__item li:last-of-type {
    margin-bottom: 0;

}

/* footer section css end here  */


/* desktop device css end here  */







/* mobile device css start here */

@media(max-width:768px) {
    .common-wrap {
        width: 100%;
        padding: 0 20px;
        max-width: inherit;
    }

    .announcement-bar__inner {
        padding: 13px 0;
    }

    .announcement-bar__wrap {
        align-items: start;
    }

    .announcement-bar__left p,
    .announcement-bar__right select {
        font-size: 10px;
    }

    .announcement-bar__right select {
        background-size: 20px;
        padding: 5px 23px 5px 0;
        width: 100%;
        text-align: center;
    }

    .announcement-bar__left {
        width: 190px;
    }

    .header__mobi-menu {
        display: block;
    }

    .header__center {
        display: none;
    }

    .header__left {
        max-width: 126px;
    }

    .header__items {
        padding: 12px 0;

    }

    .header__right {
        gap: 23px;
    }

    .header__cart img,
    .header__account img {
        width: 25px;
        height: 25px;
    }


    .header__mobi-menu div {
        height: 2px;
        border-radius: 2px;
        background: #FFF;
        margin: 4px auto;
        transition: all .55s cubic-bezier(.075, .82, .165, 1);
        width: 22px;
    }

    .banner__inner {
        padding: 38px 0 49px 0;
    }

    .banner__items {

        flex-direction: column-reverse;
        padding: 0;
        gap: 19px;
    }

    .banner__right {
        padding: 38px 0 20px 0;
    }

    .banner__right img {
        width: 100%;
        object-fit: cover;
    }

    .banner__left {
        width: 100%;
    }

    .banner__content h2 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 13px;
        padding: 0;

    }

    .banner__content p {
        font-size: 14px;
        line-height: 170%;
    }


    .banner__btn {
        font-size: 12px;
        flex: 1 0 45%;
        padding: 18px 0;
        text-align: center;
    }


    /* popular section css start here      */
    .package__inner {
        margin-bottom: 70px;
    }

    .package__top h3 {
        font-size: 30px;
    }

    .package__content {
        flex-direction: column-reverse;
        gap: 20px;
    }

    .package__top {
        margin-bottom: 20px;
    }

    .package__right,
    .package__left {
        width: 100%;
    }

    .package__left h4 {
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 15px;
    }

    .package__left h5 {
        font-size: 16px;
    }

    .package__left p {
        font-size: 16px;
    }


    .package__left-btn-wrap {

        justify-content: space-between;
    }

    .package__left-btn-wrap a {
        padding: 13px 0;
        font-size: 12px;
        width: 50%;
    }


    /* popular section css end here      */



    /* benefit section css start here  */

    .benefits__inner {
        margin: 80px 0;
    }

    .benefits__items {
        flex-direction: column;
        gap: 40px;
    }

    .benefits__top h3 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .benefits__top p {
        font-size: 18px;
        line-height: 150%;

    }

    .benefits__top {
        margin-bottom: 50px;
    }

    .benefits__item {
        padding: 141px 14px 38px 14px;
    }

    .benefits__inner-item ul li {
        font-size: 14px;
        line-height: 140%;
        margin-bottom: 15px;
    }

    .benefits__inner-item ul {
        padding: 91px 32px 40px 45px;
    }

    /* benefit section css end here  */















    /* featured collection section css start here  */

    .featured-collection__inner {
        padding: 0;
    }

    .featured-collection__items {
        flex-direction: column;
        gap: 30px;
    }

    .featured-collection__item-card {
        flex-direction: column-reverse;
    }

    .featured-collection__item-card-left,
    .featured-collection__item-card-right {
        width: 100%;
    }

    .featured-collection__item-card h3 {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .featured-collection__item-card p {
        font-size: 16px;
        line-height: 120%;
        margin-bottom: 15px;
    }

    .featured-collection__item-card a {
        padding: 12px 0;
        font-size: 12px;
        width: 100%;
    }

    /* featured collection section css end here  */




    .full-width-text__inner {
        padding: 20px 0;
    }

    .full-width-text__wrapper p {
        font-size: 12px;
    }

    .full-width-text__btn {
        width: 100%;
        font-size: 12px;
        padding: 12px 0;
    }


    /* trending section css start here  */
    .trending-product__inner {
        padding: 40px 0 54px 0;
    }

    .trending-product__wrap h3 {
        font-size: 24px;
        margin-bottom: 41px;
    }

    .product-card__badge {
        font-size: 10px;
    }

    .product-card__badge {

        font-size: 10px;
        padding: 10px 17px;
    }

    .ptoduct-card__item-img {
        margin-bottom: 20px;
    }

    .ptoduct-card__price p,
    .ptoduct-card__price del {
        font-size: 20px;
    }

    .ptoduct-card__items {
        gap: 83px;
    }

    .product-card__btn {
        justify-content: space-between;
        gap: 15px;
    }

    .product-card__btn a:first-child {
        width: calc(100% - 78px);
        padding: 12px 0;
        font-size: 12px;
    }

    .product-card__btn a:last-child {
        max-width: 63px;
        padding: 8px 22px;
    }

    .product-card__primary-btn {
        font-size: 12px;
        padding: 12px 0;
    }

    /* trending section css end here  */






    /* google review section css start here  */
    .google-review__inner {
        margin-bottom: 79px;
    }

    .google-review__top p {

        font-size: 20px;
        line-height: 120%;
    }

    .google-review__top h3 {

        font-size: 28px;
    }

    .google-review__content {
        padding: 30px 10px;
    }

    .google-review__item p,
    .google-review__item h5 {
        font-size: 18px;
    }

    .google-review__btn {
        font-size: 17px;
        padding: 13px 63px;
    }

    /* google review section css end here  */


    /* ingredient section css start here  */

    .ingredients__inner {
        padding: 0;
        margin-bottom: 46px;
    }

    .ingredients__top {
        margin-bottom: 33px;
    }

    .ingredients__top h3 {
        font-size: 24px;
        margin-bottom: 23px;
    }

    .ingredients__top p {
        font-size: 16px;

    }

    .ingredients__items {
        flex-direction: column;
        gap: 32px;
    }

    .ingredients__item-img {
        max-width: 118px;

    }

    .ingredients__item p {
        font-size: 12px;
    }

    .ingredients__item {
        gap: 21px;
        padding: 15px 5px;
    }

    .ingredients__item-content {
        width: calc(100% - 139px);
    }

    /* ingredient section css end here  */

    /* health section css start here  */

    .health__inner {
        margin: 70px 0;

    }

    .health__top {
        /* max-width: 848px; */
        margin-bottom: 30px;
    }

    .health__top h3 {
        font-size: 25px;
        line-height: 130%;
    }

    .health__content {

        flex-direction: column-reverse;
        gap: 30px;
    }


    .health__left h4 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .health__left p {
        font-size: 16px;
        margin-bottom: 25px;
    }

    .health__left-btn {
        font-size: 12px;
        padding: 12px 0;
        width: 100%;
    }

    /* health section css end here  */



    /* faq section css start here  */
    .faq__inner {
        margin-bottom: 285px;
    }

    .faq__top h3 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    .faq__top {
        margin-bottom: 40px;
    }

    .faq__top p {
        font-size: 18px;
    }

    .faq__item {
        margin-bottom: 25px;
    }

    .faq__title {
        background: #FFFAE7;
        padding: 20px 10px;
        font-size: 18px;
        position: relative;
    }

    .faq__title::after {
        content: "";
        display: inline-block;
        width: 25px;
        height: 25px;
        background: url(../images/faq-arrow.svg);
        transition: .4s;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 0px;
        object-fit: cover;
        position: absolute;
        top: 22px;
        right: 5px;
    }

    .faq__item-content {

        font-size: 16px;
        padding: 40px 10px 29px 10px;

    }

    /* faq section css end here  */


    /* footer section css start here  */
.footer__inner{
    padding: 221px 0 100px 0;
}
    .footer_subscription {
        padding: 50px 15px;
        width: 96%;
        margin: 0 auto;
    }

    .footer_subscription h3 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .footer_subscription p {
        font-size: 18px;
    }

    .footer__input {
        gap: 10px;
        flex-direction: column;
    }

    .footer__input input {
        padding: 15px;
    }

    .footer__input button {
        width: 100%;
        font-size: 13px;
        padding: 13px 0;
    }

    .footer__items {
        flex-direction: column;
    }

    .footer__items {
        flex-direction: column;
        margin-top: 50px;
        gap: 30px;
    }

    .footer__item h3 {
        font-size: 25px;
    }
    .footer__item p, .footer__item li a{
        font-size: 18px;
    }

    /* footer section css end here  */



}


/* mobile device css end here */