body {
    font-family: "Montserrat", sans-serif;
}

/* desktop device css start here  */



/* common css start here  */

.common-wrap {
    max-width: 1728px;
    padding: 0 40px;
    margin: 0 auto;
}

.ptoduct-card__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 132px;
    flex-wrap: wrap;
}

.ptoduct-card__item {
    flex: 1 0 26%;

}

.ptoduct-card__item-img {
    padding: 35px 32px;
    box-shadow: 0px 7px 30px 0px #0000001A;
    background: #F5F5F5;
    margin-bottom: 26px;
    position: relative;
    border-radius: 15px;

}

.product-card__badge {
    position: absolute;
    top: 13px;
    left: 13px;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    background: #DC4B33;
    color: #F0F0F0;
    padding: 11px 31px;
    text-transform: uppercase;
    border-radius: 10px;
}


.ptoduct-card__item h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    max-width: 340px;
    margin: 0 auto 14px auto;
    color: #3F3F3F;


}

.ptoduct-card__price {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 26px;
}

.ptoduct-card__price p,
.ptoduct-card__price del {
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    color: #3F3F3F;

}

.ptoduct-card__price del {
    font-weight: 400;
}

.product-card__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    margin-bottom: 14px;
}

.product-card__btn a {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    background: #DC4B33;
    color: #F0F0F0;
    border-radius: 10px;
}

.product-card__btn a:first-child {
    padding: 20px 62px;
}

.product-card__btn a:last-child {
    padding: 12.5px 46px;
}


.product-card__primary-btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    text-align: center;
    color: #F0F0F0;
    padding: 20px;
    background: #5A31F5;
    border-radius: 10px;
    width: 100%;

}

/* common css end here  */





/* announcement bar css start here  */

.announcement-bar__inner {
    background-color: #DC4B33;
    padding: 22px 6px;
}

.announcement-bar__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.announcement-bar__left p {
    font-weight: 600;
    font-size: 24px;
    text-transform: capitalize;
    line-height: 100%;
    color: #F0F0F0;

}

.announcement-bar__left em {
    font-style: normal;
    text-transform: uppercase;

}

.announcement-bar__right select {

    text-transform: uppercase;
    background-color: transparent;
    border: none;
    background-image: url(../images/white-down-arrow.svg);
    cursor: pointer;
    background-position: center right 0;
    background-repeat: no-repeat;
    background-size: 11px;
    width: 100%;
    padding: 0;
    min-height: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #F0F0F0;
    font-family: "Montserrat", sans-serif;



}

/* announcement bar css end here  */



/*header section start here*/

.header {
    background-color: #222222;
}

.header__items {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.header__center ul {
    display: flex;
    gap: 50px;
    align-items: center;




}

.header__center ul li a {
    color: #F0F0F0;
    font-size: 21px;
    font-weight: 600;
    line-height: 100%;
    font-family: "Montserrat", sans-serif;


}

.header__right {
    display: flex;
    gap: 25px;


}

.header__cart img {
    height: 35px;
    width: 35px;
}

.header__account img {

    height: 35px;
    width: 35px;
}

/*header section end here*/





/*banner section start here*/
.banner__inner {
    background: linear-gradient(to bottom, #222222, #3B3B3B);
}


.banner__items {
    display: flex;
    gap: 90px;
    align-items: center;

}

.banner__left {
    width: calc(100% - 674px);
}

.banner__content h2 {
    font-size: 55px;
    line-height: 100%;
    font-weight: 700;
    color: #F0F0F0;
    padding-bottom: 36px;
}

.banner__content p {
    font-size: 24px;
    font-weight: 400;
    line-height: 170%;
    color: #F0F0F0;
    padding-bottom: 36px;
    font-family: "Montserrat", sans-serif;
}

.banner__right {
    max-width: 584px;
    padding: 121px 0 86px 0;

}

.banner__right img {
    width: 100%;
}

.banner__button-wrap {
    display: flex;
    gap: 15px;
}

.banner__button-wrap .button-left {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    color: #F0F0F0;
    background-color: #DC4B33;
    border-radius: 10px;
    padding: 10px 33px;

}


.banner__button-wrap .button-right {
    font-size: 24px;
    font-weight: 600;
    line-height: 100%;
    color: #F0F0F0;
    background-color: #DC4B33;
    border-radius: 10px;
    padding: 10px 33px;

}

.banner__button-wrap a {
    color: #F0F0F0;
}



/*banner section end here*/


/* featured collection start here  */

.featured-collection__items {
    display: flex;
    align-items: center;
    gap: 90px;
    justify-content: space-between;
}


/* featured collection end here  */


/* full width text css start here  */

.full-width-text__inner {
    background: linear-gradient(180deg, #DC4B33 0%, #A81800 100%);
    padding: 55px 72px;

}

.full-width-text__wrapper p {
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 170%;
    text-align: center;
    color: #F0F0F0;

}


/* full width text css end here  */


/* trending product css start here  */


.trending-product__inner {
    padding: 69px 20px 164px 20px;
}

.trending-product__wrap h3 {
    color: #DC4B33;
    font-weight: 700;
    font-size: 55px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 69px;

}

/* trending product css end here  */

/* google review section css start here   */

.google-review__top {
    margin-bottom: 78px;
}

.google-review__top h3 {
    font-weight: 700;
    font-size: 55px;
    line-height: 100%;
    text-align: center;
    color: #DC4B33;
    margin-bottom: 16px;


}

.google-review__top p {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    text-align: center;
    color: #8F8F8F;

}

.google-review__content {
    max-width: 1125px;
    margin: 0 auto;
    box-shadow: 0px 0px 50px 0px #00000040;
    border-radius: 15px;
    padding: 36px 120px 42px 120px;
    text-align: center;
}

.google-review__star {
    margin-bottom: 27px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.google-review__item p {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #5C5C5D;
    margin-bottom: 18px;

}

.google-review__item h5 {
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #5C5C5D;
    margin-bottom: 27px;
}

.google-review__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 27px;
}
.google-review__arrow-right,
.google-review__arrow-left{
    cursor: pointer;
}
.google-review__btn{
font-weight: 600;
font-size: 20px;
line-height: 100%;
text-align: center;
color: #F0F0F0;
background: #DC4B33;
border-radius: 10px;
padding: 20px 63px;


}
/* google review section css end here   */




/* desktop device css end here  */